.App {
  text-align: center;
}

.main-div {
  display: grid;
  grid-template-columns: auto auto;
  gap: 10px;
  /* padding: 50px; */
  margin-top: 20px;
}

.main-child {
  border: 1px solid rgb(177, 171, 171);
  padding: 10px;
  border-radius: 10px;
  padding: 10px;
  cursor: pointer;
}

.main-child:hover {
  background-color: rgb(204, 207, 207);
  color: rgb(29, 31, 31);
}

.main-child h3 {
  font-weight: 700;
  font-size: 20px;
}

.text-area {
  font-size: 20px;
  padding: 10px;
  border-radius: 10px;
  border: '2px solid #d3d3d3',

}

.submit-button {
  height: 45px;
  color: rgb(102, 99, 99);
  width: 100px;
  border: 1px solid rgb(119, 114, 114);
  border-radius: 10px;
}

.submit-button:hover {
  color: rgb(65, 221, 91);
  background-color: rgb(143, 143, 150);
}